<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570898943557-5bp9psngcutpce3kutiob448nc5vlt2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570898943557-5bp9psngcutpce3kutiob448nc5vlt2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570898943557-0pog3tdrcv2k4u0dc5r61i7e5v7t3li1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-t53tz1rIh_90qmuV4zzgi1eYVoFWHXM</string>
	<key>GCM_SENDER_ID</key>
	<string>570898943557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treelov.app</string>
	<key>PROJECT_ID</key>
	<string>treelov-2937c</string>
	<key>STORAGE_BUCKET</key>
	<string>treelov-2937c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570898943557:ios:348462347824714d6b5d2c</string>
	<key>DATABASE_URL</key>
	<string>https://treelov-2937c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>